/* style header */
.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.688rem 0;
    height: 36.25rem;
    width: 100%;
}

.section-header-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4.375rem;
}

.container-slogan {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 26.875rem;
}

.container-observer {
    width: 100%;
    height: 100px;
}

/* style main */
.container-nav-category {
    margin: 0 0 2.875rem 0;
    position: relative;
}

.list-category {
    display: flex;
    gap: 1.25rem;
    overflow-x: auto;
    padding-bottom: 10px;
}
.list-category::-webkit-scrollbar {
    overflow: hidden;
    height: 10px;
}
.list-category::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-grey-300);
    border-radius: 8px;
}

.smoke {
    position: absolute;
    right: 0;
    width: 50px;
    height: 100%;
    box-shadow: inset -20px 0px 20px 0px rgb(255, 255, 255);
}

.btn-arrow {
    position: absolute;
    right: 0;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
}
.btn-arrow:hover {
    background-color: var(--color-grey-400);
}
.btn-arrow:disabled {
    opacity: 40%;
    background-color: transparent;
}


.btn-arrow > img {
    opacity: 0.7;
}
.btn-arrow:hover > img {
    opacity: 1;
}
.btn-arrow:disabled:hover > img {
    opacity: 0.7;
}

.list-news {
    display: flex;
    gap: 2.75rem;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}


/* style footer */
.container-footer {
    height: 15.938rem;
    background-color: var(--color-grey-100);
}

.container-footer-infor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.container-footer-infor > span {
    width: 551px;
}