/* style header */
.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.688rem 0;
    height: 36.25rem;
    width: 100%;
}

.section-header-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4.375rem;
}

.container-slogan {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 26.875rem;
}

.container-observer {
    width: 100%;
    height: 100px;
}

/* style main */

.list-news {
    display: flex;
    gap: 2.75rem;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}


/* style footer */
.container-footer {
    height: 15.938rem;
    background-color: var(--color-grey-100);
}

.container-footer-infor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.container-footer-infor > span {
    width: 551px;
}